.dockerignore
buildspec.yml
build-docker.sh
node_modules
npm-debug.log
logs
README.md
.git
.gitignore
.env.default
.idea
Dockerfile
Dockerfile.armhf
Dockerfile.mac
pre-commit
.eslintrc
.eslintignore
test/
Makefile